$primary: #906427;
$secondary: #B6AC97;
$dark:#392C1E;
$black:  #292222;
$font-family-sans-serif: "Lexend", sans-serif !default;
$font-family-serif:"Barlow", serif !default;

@import "../node_modules/bootstrap/scss/bootstrap";
